<footer class=" text-light">
    <div class="container py-3">
        <div class="row">
            <div class="col-12 col-md-6">
                <h4>About Us</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in ante ut velit pulvinar
                    ullamcorper. Donec congue varius nisi, id feugiat purus.</p>
            </div>
            <div class="col-12 col-md-6">
                <h4>Contact Us</h4>
                <p>123 Main St<br>Anytown, USA 12345<br>Email: info@mycompany.com<br>Phone: 123-456-7890</p>
            </div>
        </div>
        <hr>
        <p class="text-center">&copy; 2023 My Delivery Website</p>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0-beta3/js/bootstrap.bundle.min.js"></script>