nav {
  background-color: #0f3057;
  color: #ffffff;
}

.navbar-brand {
  background-color: transparent;
  color: #ffffff;
}

.navbar .btn-dark {
  margin-right: 10px;
}

a {
  color: #dde1e5;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #03a9f4;
  /* Clean Blue */
}

.dropdown-toggle:hover,
.nav-item.btn-dark:hover {
  background-color: #1d3d6f;
  color: #ffffff;
}

.dropdown-toggle:hover .fa-user-plus,
.nav-item.btn-dark:hover .fas.fa-sign-in-alt {
  color: #ffffff;
  /* Update with your desired hover icon color */
}

.img-fluid {
  max-width: 10rem;
}

#img-fluid {
  max-width: 3rem;
}

.me-2 {
  margin-left: 0.8rem;
}

.delivery-details {

  background-color: rgb(245, 244, 249);
  border-radius: 5px;
  padding: 0px 0.76rem 0rem 0.76rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}



thead {
  font-size: 1.5rem;
}


.mx {
  background-color: #0F3057;
}