* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #C0EEF2 50%, #E6F7FF 50%);
    background-size: 200% 200%;
    animation: gradientAnimation 10s linear infinite;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

h1,
h2,
h3 {
    font-family: 'Merriweather', serif;
}

p {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}

/* Footer section */
footer {
    background-color: #053b54;
    /* Clean Blue */
    color: #FFF;
    /* White */
    text-align: center;
    padding: 10px;
}