/* Set default font and color */



nav {
  background-color: #0F3057;
  color: #ffffff;

}


.navbar-brand {
  background-color: transparent;
  color: #ffffff;
}


.navbar .btn-dark {
  margin-right: 10px;
}

a {
  color: #dde1e5;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #03A9F4;
  /* Clean Blue */
}

.dropdown-toggle:hover,
.nav-item.btn-dark:hover {
  background-color: #1d3d6f;
  color: #ffffff;
}

.dropdown-toggle:hover .fa-user-plus,
.nav-item.btn-dark:hover .fas.fa-sign-in-alt {
  color: #ffffff;
  /* Update with your desired hover icon color */
}

/* Main content section */
main {
  flex-grow: 1;
  padding: 50px;
  text-align: center;
}

.text-container {
  margin-bottom: 30px;
}

h2 {
  font-size: 3.7rem;
  font-weight: bold;
  color: #333;
}


.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown button {
  margin-right: 10px;
}

.dropdown span {
  margin: 0 10px;
  color: #666;
}

.dropdown a {

  text-decoration: none;
}


.col img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}